@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF8EE;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  ::selection {
    background-color: #F2B705;
    color: #1A1A1A;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
